<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>AdressForm</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
</head>

<body>

    <nav th:fragment="navbar">
        <ul>
            <li><a href="/greeting">Greeting</a></li>
            <li><a href="/adresses">Adresses</a></li>
            <li><a href="/adressform">Adresse Form</a></li>
        </ul>
    </nav>
    <div th:insert="~{addresses :: navbar}"></div>

    <form action="/meteo" method="post">
        <div>
            <label for="meteo">Please input your adress: </label>
            <input name="address" id="address">
        </div>
        <div>
            <button>Get the weather at the given address</button>
        </div>
    </form>
</body>

</html>